<!-- stars for INSTALL RATING -->
<% if (api.install === 1) { %>
<div class="margin"><label class="install-star">Install Rating ⭐️ </label></div>
<% } else if (api.install === 2) { %>
<div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️  </label></div>
<% } else if (api.install === 3) { %>
<div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️ ⭐️</label></div>
<% } else if (api.install === 4) { %>
<div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️ ⭐️ ⭐️ </label></div>
<% } else if (api.install === 5) { %>
<div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️ ⭐️ ⭐️ ⭐️  </label></div>
<% } %>
<!-- ======================================= -->
