<!-- stars for READABILITY RATING -->
<% if (api.readability === 1) { %>
<div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ </span></div>
<% } else if (api.readability === 2) { %>
<div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ </span></div>
<% } else if (api.readability === 3) { %>
<div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ </span></div>
<% } else if (api.readability === 4) { %>
<div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
<% } else if (api.readability === 5) { %>
<div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
<% } %>
<!-- ======================================= -->
