<!-- stars for TECHNICALITY RATING -->
<% if (api.technicality === 1) { %>
<div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ </span></div>
<% } else if (api.technicality === 2) { %>
<div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ </span></div>
<% } else if (api.technicality === 3) { %>
<div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ </span></div>
<% } else if (api.technicality === 4) { %>
<div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
<% } else if (api.technicality === 5) { %>
<div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
<% } %>
<!-- ======================================= -->
